.testimonials {

    width: 100%;
    height: auto;
    padding-top: 12rem;
    padding-bottom: 12rem;

    h2 {
        text-transform: uppercase;
        font-family: 'Fraunces', serif;
        text-align: center;
        font-size: 2.2rem;
        font-weight: 600;
        color: $darkGrayishBlue;
        word-spacing: 10px;
        letter-spacing: 5px;
        padding-bottom: 6rem;
    }


    .list-items {
        width: 100%;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        // grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        padding-left: 20px;
        padding-right: 20px;

        .item {


        img {
            width: 60px;
            border-radius: 50%;
        }
        p {
            color: $veryDarkGrayishBlue;
            font-size: 1.5rem;
            padding-top: 4rem;
            line-height: 2.5rem;
            padding-bottom: 6rem;
            @include breakPointsDown(medium){
                width: auto;
                padding-top: 2rem;
            }
            @include breakPointsDown(small){
                // width: 600px;
            }
        }

        .item-info {
            text-align: center;
            span {
                display: block;
                &:first-child {
                    font-family: 'Fraunces', serif;
                    font-weight: 800;
                }
                &:last-child {
                    color: $grayishBlue;
                    font-size: 1.3rem;
                    padding-top: 1.3rem;
                    }
                }
            }
        }
    }
}


@media (max-width: 855px){
    .item:nth-child(2){
        margin-bottom: 8rem;
        margin-top: -2rem;
    }
}
